<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Contact - Les Merveilles de TH</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <aside class="sidebar">
      <div class="logo">
        <img src="/image/logo.png" alt="Les Merveilles de TH" />
      </div>

      <nav>
        <a href="accueil.html">Accueil</a>
        <a href="parfums.html">Parfums</a>
        <a href="habits.html">Habits</a>
        <a href="pizza.html">Miniardises</a>
        <a href="patisseries.html">Pâtisseries</a>
        <a href="apropos.html">À propos</a>
      </nav>
    </aside>
    <main class="main-content">
      <div class="hero">
        <h1>Nous contacter</h1>
        <p>Commander en toute tranquilite</p>
      </div>
      <div class="contacts">
        <a class="bouton email" href="mailto:contact@merveilledeth.com">
          📧 Envoyer un e-mail
        </a>

        <a
          class="bouton whatsapp"
          href="https://wa.me/237699959147"
          target="_blank"
        >
          📱 WhatsApp
        </a>

        <a class="bouton appel" href="tel:+237699959147"> 📞 Appeler </a>
      </div>
    </main>
  </body>
</html>
