<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Parfums - Les Merveilles de TH</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <script>
    let tousProduits = [];

    fetch("/parfums/api")
      .then((response) => response.json())
      .then((produits) => {
        tousProduits = produits;

        afficherProduits(produits);
      });

    function afficherProduits(produits) {
      const container = document.getElementById("liste-produits");

      container.innerHTML = "";

      produits.forEach((produit) => {
        container.innerHTML += `
        <div class="produit-card">

            <img src="/image/${produit.image}"
                 alt="${produit.nom}">

            <h3>${produit.nom}</h3>

            <p>${produit.description}</p>

            <div class="prix">
                ${produit.prix} FCFA / ${produit.unite}
            </div>

            <button
                class="btn-commande"
                onclick="ajouterPanier('${produit.nom}', ${produit.prix})">
                Ajouter au panier
            </button>

        </div>
    `;
      });
    }

    function filtrer(sousCategorie) {
      if (sousCategorie === "tous") {
        afficherProduits(tousProduits);
        return;
      }

      const filtres = tousProduits.filter(
        (produit) => produit.sous_categorie === sousCategorie,
      );

      afficherProduits(filtres);
    }
  </script>
  <body>
    <aside class="sidebar">
      <div class="logo">
        <img src="/image/logo.png" alt="Les Merveilles de TH" />
      </div>
      <nav>
        <a href="accueil.html">Accueil</a>
        <a href="habits.html">Habits</a>
        <a href="patisseries.html">Pâtisseries</a>
        <a href="pizza.html">Miniardises</a>
        <a href="contact.html">Contact</a>
        <a href="apropos.html">À propos</a>

      </nav>
      
    </aside>

    <main class="main-content">
      <div class="hero">
        <h1>Nos Parfums</h1>
        <p>L'élégance dans chaque fragrance</p>
      </div>
      <div class="sous-categories">
        <button class="btn-filtre" onclick="filtrer('tous')">Tous</button>

        <button class="btn-filtre" onclick="filtrer('Homme')">Homme</button>

        <button class="btn-filtre" onclick="filtrer('Femme')">Femme</button>
      </div>

      <section class="products" id="liste-produits"></section>
    <div class="panier-flottant" id="panier-flottant">
      <button class="btn-fermer" id="fermer-panier" onclick="fermerPanier()">
        ✕
      </button>

      <h2>🛒 Mon panier</h2>

      <div id="contenu-panier"></div>

      <div id="total-panier" class="total-panier"></div>

      <button class="btn-whatsapp" onclick="envoyerWhatsapp()">
        Commander sur WhatsApp
      </button>
    </div>
    <button id="btn-panier" onclick="togglePanier()">🛒<span id="count">0</span></button>
  <script src="/js/script.js"></script>
  </body>
</html>
