<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Patisseries - Les Merveilles de TH</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <script>
    fetch("/patisseries/api")
      .then((response) => response.json())
      .then((produits) => {
        const container = document.getElementById("liste-produits");

        produits.forEach((produit) => {
          container.innerHTML += `
                <div class="produit-card">

                    <img src="/image/${produit.image}"
                         alt="${produit.nom}">

                    <h3>${produit.nom}</h3>

                    <p>${produit.description}</p>
                    <div class="prix">
                        ${produit.prix} FCFA / ${produit.unite}
                    </div>
                 <button
                    class="btn-commande"
                    onclick="ajouterPanier('${produit.nom}', ${produit.prix})">
                    Ajouter au panier
                 </button>
                </div>
            `;
        });
      });
    let panier = [];
    function ajouterPanier(nom, prix) {
      const existe = panier.find((produit) => produit.nom === nom);

      if (existe) {
        existe.quantite++;
      } else {
        panier.push({
          nom: nom,
          prix: prix,
          quantite: 1,
        });
      }

      afficherPanier();
    }
    function augmenter(nom) {
      const produit = panier.find((p) => p.nom === nom);

      produit.quantite++;

      afficherPanier();
    }
    function diminuer(nom) {
      const produit = panier.find((p) => p.nom === nom);

      produit.quantite--;

      if (produit.quantite <= 0) {
        panier = panier.filter((p) => p.nom !== nom);
      }

      afficherPanier();
    }
    function afficherPanier() {
      const contenu = document.getElementById("contenu-panier");

      const totalDiv = document.getElementById("total-panier");

      contenu.innerHTML = "";

      let total = 0;

      panier.forEach((produit) => {
        const sousTotal = produit.prix * produit.quantite;

        total += sousTotal;

        contenu.innerHTML += `

            <div class="ligne-panier">

                <strong>
                    ${produit.nom}
                </strong>

                <div class="quantite">

                    <button
                        onclick="diminuer('${produit.nom}')">
                        -
                    </button>

                    <span>
                        ${produit.quantite}
                    </span>

                    <button
                        onclick="augmenter('${produit.nom}')">
                        +
                    </button>

                </div>

                <div>
                    ${sousTotal} FCFA
                </div>

            </div>

        `;
      });

      totalDiv.innerHTML = "Total : " + total + " FCFA";
    }
    function envoyerWhatsapp() {
      let message = "Bonjour, je souhaite commander :%0A%0A";

      let total = 0;

      panier.forEach((produit) => {
        message +=
          "- " +
          produit.nom +
          " x" +
          produit.quantite +
          " = " +
          produit.prix * produit.quantite +
          " FCFA%0A";

        total += produit.prix * produit.quantite;
      });
      message += "%0A Total : " + total + " FCFA";

      window.open("https://wa.me/237699959147?text=" + message, "_blank");
    }
  </script>
  <body>
    <aside class="sidebar">
      <div class="logo">
        <img src="/image/logo.png" alt="Les Merveilles de TH" />
      </div>
      <nav>
        <a href="accueil.html">Accueil</a>
        <a href="pizza.html">Miniardises</a>
        <a href="parfums.html">Parfums</a>
        <a href="habits.html">Habits</a>
        <a href="contact.html">Contact</a>
        <a href="apropos.html">À propos</a>
      </nav>
    </aside>

    <main class="main-content">
      <div class="hero">
        <h1>Nos Patisseries</h1>
        <p>L'élégance dans chaque fragrance</p>
      </div>
      <section class="products" id="liste-produits"></section>
    </main>
    <div class="panier-flottant">
      <h2>🛒 Mon panier</h2>

      <div id="contenu-panier"></div>

      <div id="total-panier" class="total-panier"></div>

      <button class="btn-whatsapp" onclick="envoyerWhatsapp()">
        Commander sur WhatsApp
      </button>
    </div>
  </body>
</html>
